#welcome {
  background: linear-gradient(to right top, #444, #222);
  padding: 4rem 8%;
  text-align: center;
}

#welcome header {
  margin: 2rem auto;
}

#welcome img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#welcome h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #f0f0f0;
}

#welcome p {
  color: #f0f0f0;
  font-size: 1.2rem;
}

#latest-posts {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 50rem;
  margin: 2rem auto;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

#latest-posts h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#latest-posts li {
  flex: 1;
}

#about {
  text-align: center;
  padding: 2rem;
  background-color: #777;
  margin-top: 4rem;
  color: #fff;
}

#about h2 {
  font-size: 2.5rem;
}

#about p {
  font-size: 1.2rem;
  color: #e0e0e0;
}
